.contents
  %form.main-contents__form
    %input.main-contents__form__input{placeholder: "メールアドレス"}/
    %button.main-contents__form__button{type: "submit"}


-# .header-top__searchBox
-#         %form.header-top__searchBox__form
-#           %input.header-top__searchBox__form__input{placeholder: "キーワードから探す"}/
-#           %button.header-top__searchBox__form__button{type: "submit"}
-#             = image_tag asset_path("icon/icon-search 1.png"),class:"header-top__searchBox__form__button__icon"